<!DOCTYPE html>
<html>
<head>
  <title>BasicContent</title>
  <%= stylesheet_link_tag    "basic_content/application" %>
  <%= javascript_include_tag "basic_content/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
